.container {
	width: 100vw;
	margin-bottom: 50px;
	@include responsive-lg() {
		width: 70%;
		margin: 0 auto;
		} //responsive end

	&__heading {
		margin-top: 100px;
		h3 {
			font-family: Poppins;
			font-style: normal;
			font-weight: 500;
			font-size: 26px;
			line-height: 36px;
			text-align: center;
			color: #626780;
		} // h3 end
	} //heading end
	&__paragraph {
		margin: 0 auto;
		width: 60%;
		p {
			font-family: Poppins;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			line-height: 24px;
			text-align: center;
			color: #626780;
		} //p end
	} //paragraph end
	&__images {
		text-align: center;
		margin: 0 auto;
		@include responsive-lg() {
			margin-top: 30px;
			margin-bottom: 30px;
			display: flex;
			} //responsive end


			img {
				margin-top: 40px;
			} //img end
			
			h4 {
				margin-top: 15px;
				margin-bottom: 10px;
				font-family: Poppins;
				font-style: normal;
				font-weight: 600;
				font-size: 22px;
				line-height: 40px;
				color: #626780;
			} //h4 end
			p {
				width: 70%;
				margin: 0 auto;
				font-family: Poppins;
				font-style: normal;
				font-weight: normal;
				font-size: 16px;
				line-height: 20px;
				color: #626780;
			} //p end
	} //images end
} //container end