.hero {
	width: 100vw;
	background: linear-gradient(180deg, #FFFFFF 48.96%, #E5E5E5 100%);
	@include responsive-lg() {
	background-image: url(img/background.jpg);
	  }
	
	&__header {

		&__nav {

			ul {
				padding: 0px;
			}

			&__list {
				margin: 0px;
				display: flex;
				@include responsive-lg() {
					display: flex;
					justify-content: space-between;
					width: 70%;
					margin: 0 auto;
					  }

				&__item {
					list-style: none;
					display: none;
					@include responsive-lg() {
						display: flex;
						margin-top: 30px;
						  }

					&--btn {
						list-style: none;
						@include responsive-lg() {
							display: block;
							button {
								padding: 15px 30px 15px 30px;
							}
							  }
					}
					&--logo {
						list-style: none;
							  }

						img {
							margin: 15px;
							width: 62px;
							height: 62px;
						}
					}
					&--burger {
						list-style: none;
						position: absolute;
						top: 26px;
						left: 70%;
						@include responsive-lg() {
							display: none;
							  }

						img {
							width: 50px;
							height: 28px;
						}
					}
				}
			}

		}
	}
	&__container {
		margin-bottom: 10px;
		margin: 0 auto;

		&__heading {
			font-family: Serif;
			font-size: 2rem;
			line-height: 100%;
			text-align: center;
			color: #696A86;

			h5 {
				padding: 0px;
				margin: 0px;
			}
		}
		&__paragraph {
			margin: 0px;
			padding: 0px;
			margin: 0 auto;
			font-family: Poppins;
			font-size: 0.9rem;
			line-height: 27px;
			text-align: center;
			color: #696A86;
		}
		&__btn {
			text-align: center;

			button {
				padding: 10px 40px 10px 40px;
				margin-top: 10px;
				margin-bottom: 50px;
				color: #FFFFFF;
				background: #9B9BCA;
				border-radius: 7px;
				border-style: none;
			}
		}
	}

